{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body>
    <section class="login-page">
    <h2>Zmień hasło</h2>
    {% if messages %}
        <h3 style="color: red">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </h3>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input type="password" id="old_password" name="old_password" required placeholder="Obecne hasło">
        </div>
        <div class="form-group">
            <input type="password" id="new_password1" name="new_password1" required placeholder="Nowe hasło">
        </div>
        <div class="form-group">
            <input type="password" id="new_password2" name="new_password2" required placeholder="Powtórz nowe hasło">
        </div>
        <div class="form-group form-group--buttons">
            <button class="btn" type="submit">Zmień hasło</button>
        </div>
    </form>
    </section>
    </body>
{% endblock %}